@use "../base/variables.scss" as v;
@use "../base/mixin.scss" as m;

.about {
  margin-bottom: 58px;
  @include m.tablet {
    margin-bottom: 83px;
  }

  @include m.desktop {
    margin-bottom: 90px;
  }
}

.about__title {
  margin-top: 31px;
  margin-bottom: 82px;
  padding: 0;
  margin-bottom: 28px;

  @include m.tablet {
    margin-bottom: 41px;
  }

  @include m.desktop {
    padding-left: 175px;
    margin-bottom: 39px;
  }
}

.about__list {
  @include m.list-reset;
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-weight: 700;


  @include m.tablet {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 70px;
    row-gap: 60px;
  }

  @include m.desktop {
    row-gap: 57px;
    max-width: 650px;
    margin-left: 175px;
  }
}

.about__item {
  line-height: 20px;

  @include m.tablet {
    font-size: 20px;
    line-height: 22px;
  }
}

.about__item--eco {
  @include m.tablet {
    order: 1;
  }
}

.about__item--eco::before {
  display: block;
  content: "";
  width: 33px;
  height: 38px;
  background-image: url("../img/icon/eco-icon.svg");
  background-repeat: no-repeat;
  margin-bottom: 16px;
}

.about__item--handmade {
  @include m.tablet {
    order: 2;
  }
}

.about__item--handmade::before {
  display: block;
  content: "";
  width: 35px;
  height: 34px;
  background-image: url("../img/icon/handmade-icon.svg");
  background-repeat: no-repeat;
  margin-bottom: 17px;
}

.about__item--price {
  @include m.tablet {
    order: 3;
  }
}

.about__item--price::before {
  display: block;
  content: "";
  width: 47px;
  height: 27px;
  background-image: url("../img/icon/price-icon.svg");
  background-repeat: no-repeat;
  margin-bottom: 26px;
}

.about__item--support {
  @include m.tablet {
    order: 4;
  }
}

.about__item--support::before {
  display: block;
  content: "";
  width: 55px;
  height: 23px;
  background-image: url("../img/icon/support-icon.svg");
  background-repeat: no-repeat;
  margin-bottom: 26px;
}

.about__item--likes{
  @include m.tablet {
    order: 5;
  }
}

.about__item--likes::before {
  display: block;
  content: "";
  width: 34px;
  height: 27px;
  background-image: url("../img/icon/likes-icon.svg");
  background-repeat: no-repeat;
  margin-bottom: 21px;
}
.about__item--pack {
  @include m.tablet {
    order: 6;
  }
}

.about__item--pack::before{
  display: block;
  content: "";
  width: 33px;
  height: 32px;
  background-image: url("../img/icon/gift-icon.svg");
  background-repeat: no-repeat;
  margin-bottom: 20px;
}
