@use "../base/variables.scss" as v;
@use "../base/mixin.scss" as m;

.button {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  color: v.$grey;
  background-color: transparent;
  padding-top: 14px;
  padding-bottom: 14px;
  border: 2px solid v.$grey;
  border-radius: 2px;
  @include m.tablet {
    font-size: 17px;
  }

  &:hover {
    background-color: v.$grey;
    color: v.$light;
  }

  &:focus,
  &:active {
    color: v.$light-opacity30;
  }
}

.button--accent {
  width: 100%;
  font-size: 17px;
  line-height: 16px;
  background-color: v.$accent;
  color: v.$light;
  border-color: v.$accent;
  align-self: center;
  &:hover {
    background-color: v.$grey;
    border-color: v.$grey;
  }
}
