@use "../base/variables.scss" as v;
@use "../base/mixin.scss" as m;

.card {
  display: flex;
  flex-direction: column;
  border: 1px solid v.$light-grey;
  margin-bottom: 30px;
  align-self: center;

  @include m.tablet {
    flex-direction: row;
  }

  @include m.desktop {
    align-self: stretch;
    flex-direction: column;
  }
}

.card__image {
  width: 260px;
  height: 195px;
  background-color: v.$silver;

  @include m.tablet {
    width: 334px;
    height: 334px;
  }

  @include m.desktop {
    width: 316px;
    height: 462px;
  }
}

.card__wrapper {
  display: flex;
  flex-direction: column;
  padding: 26px;

  @include m.tablet {
    justify-content: space-between;
    flex-grow: 1;
    padding-left: 34px;
  }

  @include m.desktop {
    padding: 27px;
  }
}

.card__title {
  margin: 0;
  margin-bottom: 6px;
}

.card__text {
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 30px;
  color: v.$grey;
  padding-bottom: 17px;
  @include m.tablet {
    font-size: 15px;
    padding-bottom: 0;
  }
}


.card__price-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 22px;
  border-top: 1px solid v.$light-grey;

}

.card__price {
  font-size: 15px;
  font-weight: 700;
  color: v.$dark;
  @include m.tablet {
    font-size: 17px;
  }
}

.card__button {
  background-color: transparent;
  border: none;
}
