@use "../base/variables.scss" as v;
@use "../base/mixin.scss" as m;

.card {
  display: flex;
  flex-direction: column;
  border: 1px solid v.$light-grey;
  margin-bottom: 30px;
  align-self: center;
  width: 100%;
  text-decoration: none;

  @include m.onli-mobile {
    margin-left: auto;
    margin-right: auto;
    width: max-content;
  }

  @include m.tablet {
    display: grid;
    grid-template-columns: max-content 1fr;
    margin-bottom: 0;
  }

  @include m.desktop {
    align-self: stretch;
    grid-template-columns: 1fr;
    grid-template-rows: max-content 1fr;
  }
}

.card__image {
  width: 260px;
  height: 195px;
  background-color: v.$silver;

  @include m.tablet {
    width: 334px;
    height: 334px;
  }

  @include m.desktop {
    width: 316px;
    height: 462px;
  }
}

.card__wrapper {
  display: flex;
  flex-direction: column;
  padding: 26px;

  @include m.tablet {
    justify-content: space-between;
    padding-top: 26px;
    padding-left: 32px;
    padding-right: 30px;
  }

  @include m.desktop {
    padding: 27px;
  }
}

.card:hover .card__wrapper,
.card:focus .card__wrapper {
  box-shadow: 0 6px 10px 0 v.$card-shadow;
}

.card:active .card__wrapper {
  box-shadow: 0 3px 5px 0 v.$card-shadow;
}

.card__title {
  margin: 0;
  margin-bottom: 6px;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.card__text {
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 30px;
  color: v.$grey;
  padding-bottom: 17px;

  @include m.tablet {
    font-size: 15px;
    padding-bottom: 0;
  }

  @include m.desktop {
    padding-bottom: 12px;
  }
}


.card__price-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 22px;
  border-top: 1px solid v.$light-grey;

  @include m.desktop {
    padding-top: 24px;
  }
}

.card__price {
  font-size: 15px;
  font-weight: 700;
  color: v.$dark;

  @include m.tablet {
    font-size: 17px;
  }
}

.card__button {
  background-color: transparent;
  border: none;
  color: v.$dark;
  opacity: 0.2;
  padding: 0;

  @include m.desktop {
    padding-right: 5px;
  }

  &:hover,
  &:focus {
    color: v.$accent;
    opacity: 1;
    background-color: transparent;
  }

  &:active {
    opacity: 0.3;
    background-color: transparent;
  }
}
