@use "../base/variables.scss" as v;
@use "../base/mixin.scss" as m;

.catalog {
  @include m.desktop {
    margin-bottom: 57px;
  }
  @include m.desktop {
    margin-bottom: 53px;
  }
}

.catalog__title{
background-color: v.$silver;
padding: 0;
padding-top: 74px;
padding-bottom: 74px;
text-align: center;

@include m.tablet {
  position: relative;
  padding-top: 100px;
  padding-bottom: 75px;
}

@include m.desktop {
  padding-top: 102px;
  padding-bottom: 95px;
}
}

.catalog__title::after {
  @include m.tablet {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 12px;
    background-image: url("../img/zigzag-fill.svg");
    background-repeat: repeat;
    bottom: 0;
    right: 0;
  }

  @include m.desktop {
    height: 32px;
    background-size: cover;
    bottom: -15px;
  }
}

.catalog__list {
  @include m.list-reset;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 0;

  @include m.tablet {
    padding-top: 80px;
    gap: 50px;
  }

  @include m.desktop {
    padding-top: 128px;
    flex-direction: row;
    gap: 48px;
  }
}
