@use "../base/variables.scss" as v;
@use "../base/mixin.scss" as m;

.catalog {
  margin-bottom: 30px;

  @include m.desktop {
    margin-bottom: 57px;
  }
  @include m.desktop {
    margin-bottom: 105px;
  }
}

.catalog__title{
background-color: v.$silver;
padding: 0;
padding-top: 74px;
padding-bottom: 74px;
text-align: center;

@include m.tablet {
  padding-top: 100px;
  padding-bottom: 75px;
}

@include m.desktop {
  padding-top: 102px;
  padding-bottom: 95px;
}
}

.catalog__list {
  @include m.list-reset;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;

  @include m.tablet {
    gap: 54px;
  }

  @include m.desktop {
    flex-direction: row;
    gap: 52px;
  }
}


