@use "../base/variables.scss" as v;
@use "../base/mixin.scss" as m;

.developed {
  display: flex;
  gap: 27px;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 31px;
  background-color: v.$silver;
@include m.tablet {
  padding: 0;
}
}

.developed__text {
  margin: 0;
  padding: 0;
  font-size: 19px;
  font-weight: 700;
  line-height: 18px;
  color: v.$dark;
  align-self: center;
}

.developed__link {
  display: flex;
}

.developed__icon {
  color: v.$accent;

  &:hover,
  &:focus {
    color: v.$accent-extradark;
  }

  &:active {
    opacity: 0.3;
  }
}
