@use "../base/variables.scss" as v;
@use "../base/mixin.scss" as m;

.footer {
  background-color: v.$silver;
  @include m.tablet {
    padding-top: 30px;
  }
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  @include m.tablet {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.footer__logo {
  display: none;
  color: v.$dark;
  @include m.tablet {
    display: block;
  }

  &:hover,
  &:focus {
    color: v.$accent-extradark;
  }

  &:active{
    opacity: 0.3;
  }
}
