@use "../base/variables.scss" as v;
@use "../base/mixin.scss" as m;

.form {
  margin-bottom: 55px;
}

.form__section {
  display: flex;
  flex-direction: column;
  border: 0;
  margin: 0;
  padding: 0;

  @include m.tablet {
    display: grid;
    grid-template-columns: 167px 1fr;
  }

}

.form__section--type {
  margin-bottom: 31px;

  @include m.tablet {
    margin-bottom: 65px;
  }
}

.form__section-wrapper {
  @include m.tablet {
    background-color: v.$light-grey;
  }
}

.form__contacts-wrapper {
  display: flex;
  flex-direction: column;
  gap: 36px;
  margin-bottom: 36px;

  @include m.tablet {
    gap: 24px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 70px;
  }
}

.form__section--color {
  margin-bottom: 34px;
  padding-left: 30px;
  padding-right: 30px;

  @include m.tablet {
    padding-top: 66px;
    padding-bottom: 69px;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 48px
  }
}

.form__section--name {
  margin-bottom: 34px;
  padding-left: 30px;
  padding-right: 30px;

  @include m.tablet {
    margin-bottom: 54px;
  }
}

.form__section--contacts {
  position: relative;
  padding-left: 30px;
  padding-right: 30px;

  @include m.tablet {
    padding: 0;
  }
}

.form__title {
  color: v.$accent;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;

  @include m.desktop {
    padding-left: 62px;
  }
}

.form__title--type {
  margin-bottom: 35px;
}

.form__title--color {
  margin-bottom: 24px;
}

.form__title--name {
  margin-bottom: 30px;

  @include m.tablet {
    margin-top: 20px;
  }
}

.form__title--contacts {
  margin-bottom: 5px;

  @include m.tablet {
    align-self: center;
  }
}

.form__subtitle {
  display: flex;
  font-weight: 700;
  line-height: 18px;
  color: v.$dark;

  @include m.tablet {
    font-size: 19px;
    line-height: 18px;
  }
}

.form__subtitle-name-wrapper {
  display: flex;
  flex-direction: column;

  @include m.tablet {
    flex-direction: row;
    align-items: center;
    gap: 32px;
  }

  @include m.desktop {
    max-width: 700px;
    gap: 30px;
  }
}

// .form__subtitle--type {
//   padding-left: 60px;

//   @include m.tablet {
//     padding-left: 80px;
//   }
// }

.form__list {
  @include m.list-reset;
  display: flex;
  flex-direction: column;
}

.form__list--type {
  // max-width: 270px;
  gap: 8px;

  @include m.tablet {
    max-width: max-content;
    gap: 58px;
  }
}

.form__list--color {
  gap: 23px;

  @include m.tablet {
    display: grid;
    grid-template-columns: max-content max-content;
    column-gap: 174px;
    row-gap: 58px;
    padding-left: 80px;
  }

  @include m.desktop {
    grid-template-columns: 1fr 1fr 1fr;
    // column-gap: 180px;
    max-width: 730px;
    padding-left: 90px;
  }
}

.form__list--name {
  gap: 22px;

  @include m.tablet {
    gap: 24px;
  }

  @include m.desktop {
    padding-left: 10px;
  }
}

.form__input {
  display: flex;
  flex-grow: 1;
  padding-top: 20px;
  padding-bottom: 16px;
  border: none;;
  box-shadow: 0 -2px 0 0 v.$dark inset;
  background-color: transparent;

  &:hover,
  &:focus,
  &:active {
    box-shadow: 0 -2px 0 0 v.$accent inset;
  }
}

.form__input-contacts {
  width: 100%;
  padding-top: 18px;

  @include m.desktop {
    max-width: 700px
  }
}

.form__input-contacts::placeholder {
  @include m.tablet {
    padding-left: 22px;
  }
}

.form__input::placeholder {
  font-family: inherit;
  font-size: 17px;
  line-height: 18px;
  opacity: 0.3;

  @include m.tablet {
    font-size: 19px;
  }
}

.form__additional {
  display: flex;
  padding-left: 30px;
  padding-right: 30px;
}

.form__additional-wrapper {
  display: flex;
  flex-direction: column;

  @include m.tablet {
    display: grid;
    grid-template-columns: 167px 1fr;
  }

  @include m.desktop {
    grid-template-columns: 112px 1fr;
  }
}

.form__input--additional {
  border: 2px solid v.$grey;
  padding-top: 17px;
  &:hover {
    border-color: v.$accent-extradark;
    box-shadow: none;
  }
}

.form__input--additional::placeholder {
  padding-top: 0;
  padding-left: 17px;
}

.form__input--additional {
  margin-top: 22px;
  border: 2px solid v.$grey;
  box-shadow: none;

  @include m.tablet {
    margin: 0;
    margin-top: -20px;
  }

  @include m.desktop {
    max-width: 700px;
  }
}

.form__button-wrapper {
  display: flex;
  flex-direction: column-reverse;
  gap: 30px;
  margin-top: 12px;

  @include m.tablet {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 46px;
  }

  @include m.desktop {
    max-width: 700px;
    margin-top: 49px;
  }
}

.form__button {
  @include m.tablet {
    padding-left: 32px;
    padding-right: 32px;
  }
}

.form__footnote {
  font-size: 14px;
  line-height: 16px;
  color: v.$grey;

  @include m.tablet {
    font-size: 17px;
    line-height: 30px;
  }
}

.form__icon {
  position: absolute;
  color: v.$dark;
  opacity: 0.3;

  @include m.tablet {
    top: 8px;
    right: 70px;
  }

  @include m.desktop {
    left: 830px;
  }
}

.form__icon--tel {
  right: 40px;
  top: 30px;

  @include m.desktop {
    top: 12px;
    right: 0;
  }
}

.form__icon--email {
  right: 34px;
  top: 36px;

  @include m.desktop {
    top: 14px;
    right: 0;
  }
}

.form__input:hover+.form__icon,
.form__input:focus+.form__icon,
.form__input:active+.form__icon {
  color: v.$accent;
  opacity: 1;
}
