@use "../base/variables.scss" as v;
@use "../base/mixin.scss" as m;

.form {
  margin-bottom: 55px;
}

.form__section {
  display: flex;
  flex-direction: column;
  border: 0;
  margin: 0;
  padding: 0;

  @include m.tablet {
    display: grid;
    grid-template-columns: 167px 1fr;
  }
}

.form__section--type {
  margin-bottom: 43px;
}

.form__section-wrapper {
  @include m.tablet {
    background-color: v.$light-grey;
  }
}

.form__contacts-wrapper {
  display: flex;
  flex-direction: column;
  gap: 34px;
  margin-bottom: 34px;

  @include m.tablet {
    gap: 24px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 70px;
  }
}

.form__section--color {
  margin-bottom: 43px;
  padding-left: 30px;
  padding-right: 30px;

  @include m.tablet {
    padding-top: 66px;
    padding-bottom: 69px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

.form__section--name {
  margin-bottom: 34px;
  padding-left: 30px;
  padding-right: 30px;
}

.form__section--contacts {
  position: relative;
  padding-left: 30px;
  padding-right: 30px;

  @include m.tablet {
    padding: 0;
  }
}

.form__title {
  color: v.$accent;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.form__title--type {
  margin-bottom: 35px;
}

.form__title--color {
  margin-bottom: 35px;
}

.form__title--name {
  margin-bottom: 28px;
}

.form__title--contacts {
  margin-bottom: 5px;

  @include m.tablet {
    align-self: center;
  }
}

.form__subtitle {
  display: flex;
  font-weight: 700;
  line-height: 18px;
  color: v.$dark;

  @include m.tablet {
    font-size: 19px;
    line-height: 18px;
  }
}

.form__subtitle-name-wrapper {
  display: flex;
  flex-direction: column;

  @include m.tablet {
    flex-direction: row;
    align-items: center;
    gap: 25px;
  }

  @include m.desktop {
    max-width: 700px;
  }
}

.form__subtitle--type {
  padding-left: 70px;
}

.form__list {
  @include m.list-reset;
  display: flex;
  flex-direction: column;
}

.form__list--type {
  max-width: 270px;
  gap: 25px;

  @include m.tablet {
    max-width: max-content;
    gap: 58px;
  }
}

.form__list--color {
  gap: 43px;
  padding-left: 70px;

  @include m.tablet {
    display: grid;
    grid-template-columns: max-content max-content;
    column-gap: 83px;
    row-gap: 60px;
  }

  @include m.desktop {
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 750px;
  }
}

.form__list--name {
  gap: 21px;

  @include m.tablet {
    gap: 24px;
  }
}

.form__input {
  display: flex;
  flex-grow: 1;
  padding-top: 16px;
  padding-bottom: 8px;
  border: none;
  box-shadow: 0 -2px 0 0 v.$dark inset;
  background-color: transparent;

  &:hover,
  &:focus,
  &:active {
    box-shadow: 0 -2px 0 0 v.$accent inset;
  }
}

.form__input-contacts {
  width: 100%;

  @include m.desktop {
    max-width: 700px
  }
}

.form__input-contacts::placeholder {
  @include m.tablet {
    padding-left: 22px;
  }
}

.form__input::placeholder {
  font-size: 17px;
  line-height: 18px;
  opacity: 0.3;
}

.form__additional {
  display: flex;
  padding-left: 30px;
  padding-right: 30px;

}

.form__additional-wrapper {
  display: flex;
  flex-direction: column;

  @include m.tablet {
    display: grid;
    grid-template-columns: 167px 1fr;
  }
}

.form__input--additional {
  border: 2px solid v.$grey;

  &:hover {
    border-color: v.$accent-extradark;
    box-shadow: none;
  }
}

.form__input--additional::placeholder {
  padding-top: 0;
  padding-left: 17px;
}

.form__input--additional {
  margin-top: 22px;
  border: 2px solid v.$grey;
  box-shadow: none;

  @include m.tablet {
    margin: 0;
    margin-top: -20px;
  }

  @include m.desktop {
    max-width: 700px;
  }
}

.form__button-wrapper {
  display: flex;
  flex-direction: column-reverse;
  gap: 30px;
  margin-top: 17px;

  @include m.tablet {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 53px;
  }

  @include m.desktop {
    max-width: 700px;
    margin-top: 49px;
  }
}

.form__button {
  @include m.tablet {
    padding-left: 32px;
    padding-right: 32px;
  }
}

.form__footnote {
  font-size: 14px;
  line-height: 16px;
  color: v.$grey;
}

.form__icon {
  position: absolute;
  right: 30px;
  top: -40px;
  color: v.$dark;
  opacity: 0.3;

  @include m.tablet {
    top: -60px;
    right: 70px;
  }

  @include m.desktop {
    left: 830px;
  }
}

.form__input:hover + .form__icon,
.form__input:focus + .form__icon,
.form__input:active + .form__icon {
  color: v.$accent;
  opacity: 1;
}

