@use "../base/variables.scss" as v;
@use "../base/mixin.scss" as m;

.nav {
  position: relative;
  z-index: 10;

  @include m.tablet {
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
    border-bottom: 1px solid v.$dark10;
  }

  @include m.desktop {
    justify-content: space-between;
    max-width: 1150px;
    padding: 0;
    margin: 0 auto;
  }
}

.nav__logo-container {
  display: flex;
  justify-content: center;
  padding-top: 22px;
  padding-bottom: 16px;
  box-shadow: 0 1px 0 0 v.$light-grey;


  @include m.tablet {
    box-shadow: none;
    margin-right: auto;
  }

  @include m.desktop {
    order: 2;
    margin: 0;
    padding-top: 9px;
    padding-bottom: 2px;
  }
}

.nav__logo {
  @include m.tablet {
    align-self: center;
  }

  @include m.desktop {
    margin-left: -70px;
  }

  &:hover {
    opacity: 0.6;
  }

  &:focus,
  &:active {
    opacity: 0.3;
  }
}

.nav__toggle {
  position: absolute;
  width: 20px;
  height: 14px;
  right: 26px;
  top: 24px;
  padding: 15px;
  border: none;
  background-color: transparent;
  cursor: pointer;

  @include m.tablet {
    display: none;
  }

  &:hover {
    opacity: 0.6;
  }

  &:focus,
  &:active {
    opacity: 0.3;
  }
}

.nav__list {

  @include m.list-reset;
  font-weight: 700;

  @include m.tablet {
    display: flex;
  }
}

.nav__item {
  padding-top: 28px;
  padding-bottom: 26px;
  padding-left: 30px;
  padding-right: 30px;
  box-shadow: 0 1px 0 0 v.$light-grey;
  align-self: center;

  @include m.tablet {
    padding: 0;
    box-shadow: none;
    font-size: 15px;
    line-height: 24px;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.site-nav {
  position: absolute;
  background-color: v.$light;
  width: 100%;
  margin-top: 2px;

  @include m.tablet {
    display: flex;
    gap: 36px;
    top: 90px;
    left: 50px;
    order: 2;
    margin-top: 0;
    width: auto;
    background-color: transparent;
  }

  @include m.desktop {
    position: static;
    order: 1;
  }
}

.site-nav__item {
  @include m.tablet {
    padding-top: 20px;
  }

  @include m.desktop {
    font-size: 17px;
    padding: 32px 46px;
  }
}

.site-nav__item--catalog {
  @include m.desktop {
  border-right: 1px solid v.$dark10;
  }

}
.site-nav__item--order {
  @include m.desktop {
    padding-left: 0;
  }
}

.nav__link {
  text-decoration: none;
  color: v.$dark;
  padding-left: 46px;

  @include m.tablet {
    padding: 0;
  }

}

.nav__button {
  font: inherit;
  background-color: transparent;
  border: none;
  padding: 0;
  display: flex;
  gap: 34px;

}

.nav__button-text  {
  margin-left: -10px;
  @include m.tablet {
    margin-left: 0;
  }
}

.nav__box-icon {
  opacity: 0.2;
}

.nav__button:hover .nav__box-icon {
  opacity: 1;
  color: v.$accent;
}

.nav__button:active .nav__box-icon {
  opacity: 0.3;
}


.nav__button--search {
  @include m.tablet {
    display: flex;
    padding: 34px 31px 36px 34px;
  }
}

.nav__button--box {
  @include m.tablet {
    padding: 33px 0 30px 30px;
  }
}

.user-nav {
  position: absolute;
  margin-top: 1px;
  top: 236px;
  background-color: v.$light;
  width: 100%;

  @include m.tablet {
    position: static;
    width: auto;
    margin-top: 0;
    margin-left: auto;
  }

  @include m.desktop {
    order: 3;
    margin: 0;
    padding-right: 50px;
  }
}

.user-nav__item {
  padding-top: 29px;
  padding-bottom: 27px;
  padding-left: 32px;
  @include m.tablet {
    padding: 0;
    font-size: 17px;
    border-left: 1px solid v.$dark10;
  }
}

.nav__button-text--search {
  @include m.tablet {
    display: none;
  }
}

.sale-nav {
  display: none;

  @include m.tablet {
    position: absolute;
    display: flex;
    right: 50px;
    top: 92px;
    padding-top: 18px;
  }

  @include m.desktop {
    width: 100%;
    justify-content: space-between;
    top: 90px;
    left: 0;
    padding-left: 50px;
  }
}
.sale-nav__wrapper {
  display: none;

  @include m.desktop {
    @include m.list-reset;
    display: flex;
    gap: 70px;
  }
}

.sale-nav__text-block {
  display: none;
  font-weight: 400;
  color: v.$grey;

  @include m.tablet {
    display: flex;
  }

  @include m.desktop {
    @include m.list-reset;
    padding-right: 50px;
  }
}

.nav--closed .nav__toggle::before {
  position: absolute;
  display: block;
  content: "";
  width: 20px;
  height: 2px;
  background-color: v.$dark;
  top: 8px;
  right: 5px;
  box-shadow: 0 6px 0 0 v.$dark, 0 12px 0 0 v.$dark;
}

.nav--opened .nav__toggle::after {
  position: absolute;
  display: block;
  content: "";
  width: 26px;
  height: 2px;
  top: 14px;
  right: 0;
  background-color: v.$dark;
  transform: rotate(-45deg);
}

.nav--opened .nav__toggle::before {
  position: absolute;
  display: block;
  content: "";
  width: 26px;
  height: 2px;
  top: 14px;
  right: 0;
  background-color: v.$dark;
  transform: rotate(45deg);
}

.nav--closed .site-nav,
.nav--closed .user-nav {
  @include m.onli-mobile {
    display: none;
  }
}

.nav--opened .site-nav,
.nav--opened .user-nav {
  @include m.onli-mobile {
    display: block;
  }
}

.nav--nojs .site-nav,
.nav--nojs .user-nav {
  @include m.onli-mobile {
    position: static;
  }
}

.nav--nojs .nav__toggle {
  @include m.onli-mobile {
    display: none;
  }
}
