@use "../base/variables.scss" as v;
@use "../base/mixin.scss" as m;

.nav {
  position: relative;
  z-index: 10;

  @include m.tablet {
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
  }

  @include m.desktop {
    justify-content: space-between;
    max-width: 1150px;
    padding: 0;
    margin: 0 auto;
  }
}

.nav__logo-container {
  display: flex;
  justify-content: center;
  padding-top: 22px;
  padding-bottom: 16px;
  box-shadow: 0 1px 0 0 v.$light-grey;


  @include m.tablet {
    box-shadow: none;
    margin-right: auto;
  }

  @include m.desktop {
    order: 2;
    margin: 0;
    padding-top: 9px;
    padding-bottom: 2px;
  }
}

.nav__logo {
  @include m.tablet {
    align-self: center;
  }

  @include m.desktop {
    margin-left: -70px;
  }

  &:hover {
    opacity: 0.6;
  }

  &:focus,
  &:active {
    opacity: 0.3;
  }
}

.nav__toggle {
  position: absolute;
  width: 20px;
  height: 14px;
  right: 26px;
  top: 24px;
  padding: 15px;
  border: none;
  background-color: transparent;
  cursor: pointer;

  @include m.tablet {
    display: none;
  }

  &:hover {
    opacity: 0.6;
  }

  &:focus,
  &:active {
    opacity: 0.3;
  }
}

.nav__list {
  @include m.list-reset;
  font-weight: 700;

  @include m.tablet {
    display: flex;
  }
}

.nav__item {
  padding-top: 28px;
  padding-bottom: 26px;
  padding-left: 30px;
  padding-right: 30px;
  box-shadow: 0 1px 0 0 v.$light-grey;
  align-self: center;

  @include m.tablet {
    padding: 0;
    box-shadow: none;
    font-size: 15px;
    line-height: 24px;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.nav__link {
  text-decoration: none;
  color: v.$dark;
  padding-left: 46px;

  @include m.tablet {
    padding: 0;
  }

}

.nav__button {
  font: inherit;
  background-color: transparent;
  border: none;
  padding: 0;
  display: flex;
  gap: 34px;
  text-decoration: none;
  color: inherit;
}

.nav__button-text  {
  margin-left: -10px;
  @include m.tablet {
    margin-left: 0;
  }
}

.nav__box-icon {
  opacity: 0.2;
}

.nav__button:hover .nav__box-icon {
  opacity: 1;
  color: v.$accent;
}

.nav__button:active .nav__box-icon {
  opacity: 0.3;
}

.nav__button--search {
  @include m.tablet {
    display: flex;
    padding: 34px 31px 36px 34px;
  }
}

.nav__button--box {
  @include m.tablet {
    padding: 33px 0 30px 30px;
  }
}



.nav__button-text--search {
  @include m.tablet {
    display: none;
  }
}


.nav--closed .nav__toggle::before {
  position: absolute;
  display: block;
  content: "";
  width: 20px;
  height: 2px;
  background-color: v.$dark;
  top: 8px;
  right: 5px;
  box-shadow: 0 6px 0 0 v.$dark, 0 12px 0 0 v.$dark;
}

.nav--opened .nav__toggle::after {
  position: absolute;
  display: block;
  content: "";
  width: 26px;
  height: 2px;
  top: 14px;
  right: 0;
  background-color: v.$dark;
  transform: rotate(-45deg);
}

.nav--opened .nav__toggle::before {
  position: absolute;
  display: block;
  content: "";
  width: 26px;
  height: 2px;
  top: 14px;
  right: 0;
  background-color: v.$dark;
  transform: rotate(45deg);
}

.nav--nojs .nav__toggle {
  @include m.onli-mobile {
    display: none;
  }
}
