@use "../base/variables.scss" as v;
@use "../base/mixin.scss" as m;

.order {
  margin-left: auto;
  margin-right: auto;
}

.order__text {
  font-size: 13px;
  margin: 0;
  color: v.$grey;
  margin-top: 17px;
  margin-bottom: 29px;
  padding-left: 30px;
    padding-right: 30px;

  @include m.tablet {
    font-size: 17px;
    line-height: 30px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 66px;
    margin-bottom: 81px;
  }

  @include m.desktop {
    margin-top: 115px;
    padding-left: 255px;
    padding-right: 255px;
  }
}
