@use "../base/variables.scss" as v;
@use "../base/mixin.scss" as m;

.page-form__title {
  background-color: v.$light-grey;
  padding-top: 74px;
  padding-bottom: 73px;
  text-align: center;

  @include m.tablet {
    padding-top: 104px;
    padding-bottom: 72px;
  }

  @include m.desktop {
    padding-top: 101px;
    padding-bottom: 95px;
  }
}
