@use "../base/variables.scss" as v;
@use "../base/mixin.scss" as m;

.page-form__title {
  background-color: v.$light-grey;
  padding-top: 74px;
  padding-bottom: 73px;
  text-align: center;
  font-size: 27px;

  @include m.tablet {
    position: relative;
    padding-top: 102px;
    padding-bottom: 72px;
    font-size: 43px;
  }

  @include m.desktop {
    padding-top: 101px;
    padding-bottom: 95px;
    font-size: 53px;
  }
}

.page-form__title::after {
  @include m.tablet {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 12px;
    background-image: url("../img/zigzag-fill.svg");
    background-repeat: repeat;
    bottom: 0;
    right: 0;
  }

  @include m.desktop {
    height: 34px;
    background-size: contain;
    bottom: -20px;
  }
}
