@use "../base/variables.scss" as v;
@use "../base/mixin.scss" as m;

.reviews {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 44px;

  @include m.tablet {
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 153px;
    padding-top: 82px;
    padding-bottom: 47px;
    background-image: url("../img/reviews-bgi.jpg");
    background-repeat: no-repeat;
    background-size: 350px 457px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/reviews-bgi@2x.jpg");
      background-size: 350px 457px;
    }
  }

  @include m.desktop {
    margin-bottom: 167px;
    padding-top: 82px;
    padding-bottom: 90px;
  }
}

.reviews::after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 6px;
  bottom: -4px;
  left: 0;
  background-image: url("../img/zigzag-line.svg");
  background-repeat: repeat-x;
  background-size: contain;

  @include m.tablet {
    height: 17px;
    bottom: -90px;
  }

  @include m.desktop {
    height: 17px;
    bottom: -92px;
  }
}

.reviews__title {
  margin: 0;
  margin-top: 2px;

  @include m.desktop {
    padding-left: 174px;
    margin-top: -2px;
  }
}

.reviews__list {
  @include m.list-reset;
  margin-top: -1px;

  @include m.tablet {
    order: 3;
  }

  @include m.desktop {
    padding-left: 174px;
  }
}

.reviews__item {
  display: none;
}

.reviews__text {
  font-size: 15px;
  line-height: 30px;
  margin-bottom: 33px;
  color: v.$grey;

  @include m.tablet {
    font-size: 17px;
    margin-bottom: 61px;
  }

  @include m.desktop {
    margin-bottom: 46px;
  }
}

.reviews__item--active {
  display: block;
}

.reviews__wrapper {
  margin: 0;
  padding: 0;

  @include m.tablet {
    margin-top: 38px;
  }

  @include m.desktop {
    margin-top: 36px;
  }
}

.reviews__autor-wrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 30px;

  @include m.tablet {
    margin-bottom: 0;
  }
}

.reviews__autor {
  font-size: 17px;
  font-weight: 700;
  font-style: normal;

  @include m.tablet {
    font-size: 18px;
  }

  @include m.desktop {
    font-size: 17px;
  }
}

.reviews__autor-nickname {
  font-size: 17px;
  color: v.$grey;
}

.reviews__slider {
  @include m.list-reset;
  display: flex;
  align-self: center;

  @include m.tablet {
    order: 4;
    position: absolute;
    bottom: 45px;
    right: 50px;
  }

  @include m.desktop {
    bottom: 92px;
    right: -2px;
  }
}

.reviews__toggle {
  background-color: transparent;
  border: 1px solid v.$light-grey;
  padding: 12px 42px 13px 36px;

  @include m.tablet {
    border: none;
    padding: 10px 20px 9px 18px;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active,
  &:focus {
    opacity: 0.3;
  }
}

.reviews__button {
  padding-left: 65px;
  padding-right: 65px;
  padding-top: 14px;
  padding-bottom: 14px;
  margin-top: 36px;
  margin-bottom: 45px;
  text-decoration: none;

  @include m.tablet {
    align-self: center;
    order: 2;
    margin: 0;
    margin-top: -8px;
    padding-left: 38px;
    padding-right: 38px;
  }

  @include m.desktop {
    align-self: self-start;
    margin-top: -2px;
  }
}
