@use "../base/variables.scss" as v;
@use "../base/mixin.scss" as m;

.section-title {
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  margin: 0;
  color: v.$dark;
  @media (min-width: v.$tablet-width) {
    font-size: 43px;
    line-height: 50px;
  }

}

.section-title--mobile {
  @media (max-width: v.$onli-mobile-width) {
    font-size: 27px;
  }
}
