@use "../base/variables.scss" as v;
@use "../base/mixin.scss" as m;

.section-title {
  font-size: 27px;
  font-weight: 700;
  line-height: 30px;
  margin: 0;
  color: v.$dark;

@include m.tablet {
    font-size: 43px;
    line-height: 50px;
  }

@include m.desktop {
  font-size: 53px;
  line-height: 57px;
}

}

.section-title--mobile {
  @include m.onli-mobile {
    font-size: 25px;
  }
}
