@use "../base/variables.scss" as v;
@use "../base/mixin.scss" as m;

.social {
  @include m.list-reset;
  display: flex;
  gap: 25px;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 28px;
  background-color: v.$silver;
}

.social__icon {
  &:hover,
  &:focus {
    color: v.$accent-extradark;
  }

  &:active {
    opacity: 0.3;
  }
}
