@use "../base/variables.scss" as v;
@use "../base/mixin.scss" as m;

.social {
  @include m.list-reset;
  display: flex;
  gap: 26px;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 24px;
  background-color: v.$silver;
  border-bottom: 1px solid v.$light-silver;

  @include m.tablet {
    border: none;
    padding: 0;
  }
}

.social__icon {
  &:hover,
  &:focus {
    color: v.$accent-extradark;
  }

  &:active {
    opacity: 0.3;
  }
}
