@use "../base/variables.scss" as v;
@use "../base/mixin.scss" as m;

.toyshop {
  background-color: v.$silver;//для удобства верстки
  margin-bottom: 31px;
  @include m.tablet {
    margin-bottom: 51px;
  }

  @include m.desktop {
    margin-bottom: 71px;
  }
}

.toyshop__title {
  padding-top: 73px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 120px;
  text-align: center;

  @include m.tablet {
    padding-top: 154px;
    padding-bottom: 372px;
  }

  @include m.desktop {
    padding-top: 157px;
    padding-bottom: 355px;
  }
}

.toyshop__list {
  @include m.list-reset;
  display: flex;
  flex-direction: column;

  @include m.tablet {
    flex-direction: row;
    padding-left: 50px;
    padding-right: 50px;
  }

  @include m.desktop {
    max-width: 1050px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }
}

.toyshop__item {
  flex-grow: 1;
  background-color: v.$accent;
}

.toyshop__link {
  display: block;
  text-decoration: none;
  color: v.$light;
  font-size: 19px;
  font-weight: 700;
  padding-left: 36px;
  padding-top: 25px;
  padding-bottom: 34px;
  cursor: pointer;

  @include m.tablet {
    font-size: 20px;
    line-height: 30px;
  }
}

.toyshop__item--colorblock {
  background-color: v.$accent-dark;
}
