@use "../base/variables.scss" as v;
@use "../base/mixin.scss" as m;

.toyshop {
  margin-bottom: 28px;
  background-color: v.$toyshop-bg;
  background-image: url("../img/toyshop-bgi.jpg");
  background-repeat: no-repeat;
  background-size: auto 373px;
  background-position: 50% -16px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/toyshop-bgi@2x.jpg");
  }

  @include m.tablet {
    position: relative;
    background-size: auto 746px;
    background-position: 50% 0;
    margin-bottom: 46px;
  }

  @include m.desktop {
    margin-bottom: 66px;
  }
}

.toyshop::after {
  @include m.tablet {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 12px;
    background-image: url("../img/zigzag-fill.svg");
    background-repeat: repeat;
    bottom: 0;
    right: 0;
  }

  @include m.desktop {
    height: 34px;
    background-size: contain;
    bottom: -14px;
    background-image: url("../img/zigzag-desktop.svg");
    background-position: center;
  }
}

.toyshop__title {
  padding-top: 73px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 126px;
  text-align: center;

  @include m.tablet {
    padding-top: 154px;
    padding-bottom: 376px;
  }

  @include m.desktop {
    padding-top: 157px;
    padding-bottom: 360px;
  }
}

.toyshop__list {
  @include m.list-reset;
  display: flex;
  flex-direction: column;

  @include m.tablet {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 50px;
    padding-right: 50px;
  }

  @include m.desktop {
    max-width: 1050px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }
}

.toyshop__item {
  position: relative;
  flex-grow: 1;
  background-color: v.$accent;
  transform: translateY(-5px);
  transition: transform 0.3s;

  &:hover {
    background-color: v.$accent-medium;
    margin-top: -5px;
    transition: margin 0.3s;
  }

  &:focus,
  &:active {
    margin-top: 0;
  }
}


.toyshop__item--colorblock {
  background-color: v.$accent-dark;

  &:hover,
  &:focus,
  &:active {
    background-color: v.$accent-extradark;
  }
}

.toyshop__icon--room {
  position: absolute;
  top: 24px;
  right: 36px;

  @include m.tablet {
    top: 30px;
  }
}

.toyshop__item:hover .toyshop__icon {
  opacity: 0.7;
}

.toyshop__item:focus .toyshop__icon,
.toyshop__item:active .toyshop__icon {
  opacity: 0.3;
}

.toyshop__icon--toy {
  position: absolute;
  top: 22px;
  right: 27px;

  @include m.tablet {
    top: 32px;
    right: 34px;
  }

  &:hover {
    opacity: 0.7;
  }

  &:focus,
  &:active {
    opacity: 0.3;
  }
}

.toyshop__link {
  position: relative;
  display: block;
  text-decoration: none;
  color: v.$light;
  font-size: 19px;
  font-weight: 700;
  padding-left: 30px;
  padding-top: 24px;
  padding-bottom: 30px;
  padding-right: 0;
  cursor: pointer;

  @include m.tablet {
    font-size: 20px;
    line-height: 30px;
    padding-left: 36px;
    padding-bottom: 28px;
    padding-top: 26px;
  }

  @include m.desktop {
    padding-bottom: 30px;
    padding-top: 26px;
  }
}
