@use "../base/variables.scss" as v;
@use "../base/mixin.scss" as m;

.user-nav {
  position: absolute;
  margin-top: 1px;
  top: 236px;
  background-color: v.$light;
  width: 100%;

  @include m.tablet {
    position: static;
    width: auto;
    margin-top: 0;
    margin-left: auto;
  }

  @include m.desktop {
    order: 3;
    margin: 0;
    padding-right: 50px;
  }
}

.user-nav__item {
  padding-top: 29px;
  padding-bottom: 27px;
  padding-left: 32px;

  @include m.tablet {
    padding: 0;
    font-size: 17px;
    border-left: 1px solid v.$dark10;
  }
}

.nav--closed .user-nav {
  @include m.onli-mobile {
    display: none;
  }
}

.nav--opened .user-nav {
  @include m.onli-mobile {
    display: block;
  }
}

.nav--nojs .user-nav {
  @include m.onli-mobile {
    position: static;
  }
}
