@use "../base/variables.scss" as v;

.container {
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: v.$tablet-width) {
    padding-left: 50px;
    padding-right: 50px;
  }

  @media (min-width: v.$desktop-width) {
    width: 1050px;
    padding-left: 0;
    padding-right: 0;
  }
}
