@use "./variables.scss" as v;

@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin onli-mobile {
  @media (max-width: v.$onli-mobile-width){
    @content;
  }
}

@mixin tablet {
  @media (min-width: v.$tablet-width){
    @content;
  }
}

@mixin desktop {
  @media (min-width: v.$desktop-width){
    @content;
  }
}

@mixin container {
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
  @media (min-width: v.$tablet-width){
    padding-left: 50px;
    padding-right: 50px;
  }
  @media (min-width: v.$desktop-width){
    width: 1050px;
  }
}
