$dark: #000000;
$grey: #444444;
$light-grey: #ececec;
$light: #ffffff;
$silver: #f1f1f1;
$accent: #63d1bb;
$accent-dark:#56c3b2;
$tablet-width: 768px;
$desktop-width: 1150px;
$onli-mobile-width: 320px;
